
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-weight: 700;
}

p {
 color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */

.container-fluid{
  padding: 7% 15%;
 }

/* Sections */

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section*/

#title .container-fluid {
 padding: 3% 15% 7%;
 text-align: left;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section*/

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.3%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  background-color: #fff;
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* .btn-primary {
  --bs-btn-hover-color: blue;
  --bs-btn-hover-bg: white;
} */

/* CTA section */

.cta-heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
}

/* Footer section */

@media (max-width:1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
